.image {
    width: 200px;
    height: 200px;
}

.card{
    border-radius: 2px;
    margin: 15px;
    color: rgba(0,0,0,.65);
}

.ant-card-actions {
    background-color: #fafafa !important;
    border-top: 1px solid #e8e8e8 !important;
    align-items: center;
}

.ant-card-cover {
    margin: 0 !important;
}

@media screen and (min-width: 200px) {
    .card-container {
      width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .card-container {
      width: 33.33%;
    }
}

@media screen and (min-width: 1200px) {
    .card-container {
      width: 25%;
    }
}